.page_title{
  text-align: center;
}
.custom-list-group li {
  text-transform: capitalize;;
  margin: 5px 0;
}


.pokemon-modal h1 {
  text-transform: capitalize;
}

.pokemon-modal img {
  display: grid;
  margin: 0 auto;
  max-width: 350px;
  height: auto;
  padding-top: 20px;
}


.pokemon-list {
  list-style: none;
  width: 300px;
  display: grid;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
}

.pokemon-list .btn-default {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
