.page_title{
  text-align: center;
}
.custom-list-group li {
  text-transform: capitalize;;
  margin: 5px 0;
}


.pokemon-modal h1 {
  text-transform: capitalize;
}

.pokemon-modal img {
  display: grid;
  margin: 0 auto;
  max-width: 350px;
  height: auto;
  padding-top: 20px;
}


.pokemon-list {
  list-style: none;
  width: 300px;
  display: grid;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
}

.pokemon-list .btn-default {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
